@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin:0px;
    padding:0px;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    max-width:1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width:300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    text-align: center;
}

.container img{
    margin:auto;
    margin-top: 5%;
    width:90%;
    display: block;
    border-radius: 10px;
}

.container h1{
    margin: auto;
    margin-top: 8%;
    width:85%;
    color: hsl(218, 44%, 22%);
    font-size: 1.3rem;
    font-weight: 700;
}

.container p{
    margin:auto;
    margin-top: 5%;
    margin-bottom: 34px;
    width:85%;
    font-size: 15px;
    font-weight: 400;
    color:hsl(220, 15%, 55%);
}